/public/hot
/public/js/bundle
/public/images/vendor
/public/js/main.js
/public/storage

/node_modules
/vendor

/storage/*.key
/storage/framework/sessions

.env
.env.backup

composer.lock
.phpunit.result.cache

docker-compose.override.yml
Homestead.json
Homestead.yaml

npm-debug.log
yarn-error.log

# Ignore ZIP files
*.zip

# (Optional but recommended)
*.rar
*.7z
*.tar
*.gz




/node_modules/